.deputyPagination {
  &-btnContainer {
    width: 15%;
  }

  &-container {
    .pagination-lg .page-link {
      padding: 0.5rem 1.5rem;
      color: $clr-black;
    }

    .page-item.active .page-link {
      background-color: $clr-primary;
      border-color: $clr-primary;
      color: $clr-white;
    }

  }
}