.ImageHolder {
  &-lg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }

  &-sm {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: top;
  }

  &-round {
    border-radius: 50%;
  }

  &-square {
    border-radius: unset;
  }
}