.filter {
  position: relative;
  margin-bottom: 20px;

  &-dropdownIcon {
    position: absolute;
    right: 10px;
    top: 7px;

    @include media-breakpoint-down(lg) {
      left: calc(95px - 25px);
    }

  }

  &-dropdownMenu {
    background-color: $clr-white;
    box-shadow: 3px 3px 8px -1px $clr-grey, -3px 3px 8px -1px $clr-grey;
    width: 200px;
    height: auto;

    &--item {
      background-color: transparent;
      border-color: transparent;
      padding: 10px;
    }
  }
}