$btn-height: 48px;
$btn-height-sm: 38px;

$clr-primary: #322b5a;

$clr-black: #000000;
$clr-black-hover: #404342;
$clr-black-disabled: #bdbbbc;

$clr-grey: #d3d3d3;
$clr-dark-grey: #808080;
$clr-light-grey: #f7f7f7;

$clr-white: #fff;

